<style type="text/css">
  .benefitsPic {  margin: 48px 0 0 0;border: 2px solid #CCC;  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}
</style>
{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
      {{ if eq .Title "benefits_box" }}
        <section id="benefits" class="pv-30">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="text-center">{{ .Params.header }}</h2>
                  <div class="separator"></div>
                  <p class="large text-center">{{ .Params.summary }}</p>
                  <br>
                </div>
              </div>
            </div>
            <div class="">
              <div class="container">
                <div class="row">
                  <div class="col-md-6"> <img class="benefitsPic" src="images/benefits.jpg" alt=""> </div>
                  <div class="col-md-6">
                    <p class="space-top"></p>
                    <div class="media">
                      <div class="media-left pr-20">  <span class="icon circle small default-bg"><i class="fa fa-sort-amount-asc"></i> </span> </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ .Params.benefit1_title }}</h4>
                        {{ .Params.benefit1_text }}                                           
                        </div>
                    </div>
                    <div class="media">
                      <div class="media-left pr-20">  <span class="icon circle small default-bg"><i class="fa fa-shield"></i> </span> </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ .Params.benefit2_title }}</h4>
                        {{ .Params.benefit2_text }}                                         
                        </div>
                    </div>
                    <div class="media">
                      <div class="media-left pr-20">  <span class="icon circle small default-bg"><i class="fa fa-check"></i> </span> </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ .Params.benefit3_title }}</h4>
                        {{ .Params.benefit3_text }}                                         
                        </div>
                    </div>
                    <div class="media">
                      <div class="media-left pr-20"> <span class="icon circle small default-bg"><i class="fa fa-random"></i> </span> </div>
                      <div class="media-body">
                        <h4 class="media-heading">{{ .Params.benefit4_title }}</h4>
                        {{ .Params.benefit4_text }}                                           
                        </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>
    {{ end }}
  {{ end }}
{{ end }}