<section class="section default-bg clearfix">
	    <div class="container">
	      <div class="row">
	        <div class="col-md-12">
	          <div class="call-to-action text-center">
	            <div class="row">
	              	{{ range $element :=  .Data.Pages }}
		                {{ if eq .Section "home" }}
		                    {{ if eq .Title "offers_box" }}
				              <div class="col-sm-8">
				                <h1 class="title">{{ .Params.header }}</h1>
				                <p>{{ .Params.summary }}</p>
				              </div>
				              <div class="col-sm-4"> <br>
				                <p><a href="{{ .Params.link }}" class="btn btn-lg btn-gray-transparent btn-animated">Learn More<i class="fa fa-arrow-right pl-20"></i></a></p>
				              </div>
				            {{ end }}
                		{{ end }}
        			{{ end }}
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
  	</section>