{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
      {{ if eq .Title "howitworks_box" }}
        <section id="how-it-works" class="pv-30 padding-bottom-clear clearfix">
        	    <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h2 class="text-center">{{ .Params.header }}</h2>
                            <div class="separator"></div>
                            <p style="margin-bottom: 0" class="large text-center">{{ .Params.summary }}</p>
                            <img src="/images/how-it-work.jpg">
                        </div>
                    </div>
        	    </div>
          </section>
          <hr />
    {{ end }}
  {{ end }}
{{ end }}
