<div class="banner clearfix">
    <div class="slideshow">
      <div class="slider-banner-container">
        <div class="slider-banner-fullscreen">
          <ul class="slides">
            {{ range $element :=  .Data.Pages }}
                {{ if eq .Section "home" }}
                    {{ if eq .Title "intro_slider_box" }}
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title=""> <img src="images/slider1.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                          <div class="tp-caption dark-translucent-bg"
                                                data-x="center"
                                                data-y="bottom"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"> </div>             
                          <div style="font-size: 47px;" style="font-size: 47px;" class="tp-caption sft fadeout text-center large_white"
                                                data-x="center"
                                                data-y="210"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"
                                                >
                            {{ .Params.slide1_title }} </div>
                          
                          <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                                data-x="center"
                                                data-y="250"
                                                data-speed="500"
                                                data-easing="easeOutQuad">
                            <!--<div class="separator light"></div>-->
                          </div>
                          <div style="font-size: 29px;" class="tp-caption sft fadeout medium_white text-center"
                                                data-x="center"
                                                data-y="300"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="600">{{ .Params.slide1_text }}</div>
                          <div class="tp-caption fade fadeout"
                                                data-x="center"
                                                data-y="bottom"
                                                data-voffset="100"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="200"> <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a> </div>
                        </li>
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title=""> <img src="images/slider2.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                          <div class="tp-caption dark-translucent-bg"
                                                data-x="center"
                                                data-y="bottom"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"> </div>             
                          <div style="font-size: 47px;" class="tp-caption sft fadeout text-center large_white"
                                                data-x="center"
                                                data-y="220"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"
                                                >
                            {{ .Params.slide2_title }} </div>
                          
                          <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                                data-x="center"
                                                data-y="250"
                                                data-speed="500"
                                                data-easing="easeOutQuad">
                            <!--<div class="separator light"></div>-->
                          </div>
                          <div style="font-size: 29px;" class="tp-caption sft fadeout medium_white text-center"
                                                data-x="center"
                                                data-y="280"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="600">{{ .Params.slide2_text }}</div>
                          <div class="tp-caption fade fadeout"
                                                data-x="center"
                                                data-y="bottom"
                                                data-voffset="100"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="200"> <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a> </div>
                        </li>
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title=""> <img src="images/slider3.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                          <div class="tp-caption dark-translucent-bg"
                                                data-x="center"
                                                data-y="bottom"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"> </div>             
                          <div style="font-size: 47px;" class="tp-caption sft fadeout text-center large_white"
                                                data-x="center"
                                                data-y="220"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"
                                                >
                            {{ .Params.slide3_title }} </div>
                          
                          <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                                data-x="center"
                                                data-y="250"
                                                data-speed="500"
                                                data-easing="easeOutQuad">
                            <!--<div class="separator light"></div>-->
                          </div>
                          <div style="font-size: 29px;" class="tp-caption sft fadeout medium_white text-center"
                                                data-x="center"
                                                data-y="300"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="600">{{ .Params.slide3_text }} </div>
                          <div class="tp-caption fade fadeout"
                                                data-x="center"
                                                data-y="bottom"
                                                data-voffset="100"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="200"> <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a> </div>
                        </li>
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title=""> <img src="images/slider3.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                          <div class="tp-caption dark-translucent-bg"
                                                data-x="center"
                                                data-y="bottom"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"> </div>             
                          <div style="font-size: 47px;" class="tp-caption sft fadeout text-center large_white"
                                                data-x="center"
                                                data-y="220"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"
                                                >
                            {{ .Params.slide4_title }} </div>
                          
                          <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                                data-x="center"
                                                data-y="250"
                                                data-speed="500"
                                                data-easing="easeOutQuad">
                            <!--<div class="separator light"></div>-->
                          </div>
                          <div style="font-size: 29px;" class="tp-caption sft fadeout medium_white text-center"
                                                data-x="center"
                                                data-y="300"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="600">{{ .Params.slide4_text }} </div>
                          <div class="tp-caption fade fadeout"
                                                data-x="center"
                                                data-y="bottom"
                                                data-voffset="100"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="200"> <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a> </div>
                        </li>
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title=""> <img src="images/slider3.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover">
                          <div class="tp-caption dark-translucent-bg"
                                                data-x="center"
                                                data-y="bottom"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"> </div>             
                          <div style="font-size: 47px;" class="tp-caption sft fadeout text-center large_white"
                                                data-x="center"
                                                data-y="220"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-start="0"
                                                >
                            {{ .Params.slide5_title }} </div>
                          
                          <div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
                                                data-x="center"
                                                data-y="250"
                                                data-speed="500"
                                                data-easing="easeOutQuad">
                            <!--<div class="separator light"></div>-->
                          </div>
                          <div style="font-size: 29px;" class="tp-caption sft fadeout medium_white text-center"
                                                data-x="center"
                                                data-y="300"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="600">{{ .Params.slide5_text }} </div>
                          <div class="tp-caption fade fadeout"
                                                data-x="center"
                                                data-y="bottom"
                                                data-voffset="100"
                                                data-speed="500"
                                                data-easing="easeOutQuad"
                                                data-endspeed="200"> <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a> </div>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
            
          </ul>
          <div class="tp-bannertimer"></div>
        </div>
      </div>
    </div>
</div>
<div id="page-start"></div>