<style type="text/css">
    .text h5 { color: white;}
    .image-box.team-member.shadow.mb-20 img {width: 183px;height: 178px;  margin: 0 auto;}
    .overlay-container .text {padding: 0 0;}
    .overlay-bottom, .overlay-top {padding: 3px;}
    .overlay-visible .overlay-bottom, .overlay-visible .overlay-top {padding-bottom: 4px;}
</style>
{{ range $element :=  .Data.Pages }}
  {{ if eq .Section "home" }}
        {{ if eq .Title "team_box" }}
            <section id="team" class="main-container padding-bottom-clear">
            <div class="container">
                <div class="row">
                    <div class="main col-md-12">
                        <div class="col-md-12 ">
                        <h2 class="text-center">{{ .Params.header }}</h2>
                        <div class="separator"></div>
                        <p class="large text-center">{{ .Params.summary }}</p>
                        <br>
                    </div>
                        <div class="row grid-space-10">
                            <div class="col-md-2 col-sm-4 col-md-offset-2">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person1_pic }}" alt="">
                                        <a href="{{ .Params.person1_pic }}" class="popup-img overlay-link" title="{{ .Params.person1_name }} - {{ .Params.person1_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person1_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person1_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person2_pic }}" alt="">
                                        <a href="{{ .Params.person2_pic }}" class="popup-img overlay-link" title="{{ .Params.person2_name }} - {{ .Params.person2_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person2_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person2_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person3_pic }}" alt="">
                                        <a href="{{ .Params.person3_pic }}" class="popup-img overlay-link" title="{{ .Params.person3_name }} - {{ .Params.person3_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person3_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person3_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person4_pic }}" alt="">
                                        <a href="{{ .Params.person4_pic }}" class="popup-img overlay-link" title="{{ .Params.person4_name }} - {{ .Params.person4_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person4_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person4_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row grid-space-10">
                            <div class="col-md-2 col-sm-4 col-md-offset-2">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person5_pic }}" alt="">
                                        <a href="{{ .Params.person5_pic }}" class="popup-img overlay-link" title="{{ .Params.person5_name }} - {{ .Params.person5_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person5_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person5_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person6_pic }}" alt="">
                                        <a href="{{ .Params.person6_pic }}" class="popup-img overlay-link" title="{{ .Params.person6_name }} - {{ .Params.person6_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person6_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person6_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person7_pic }}" alt="">
                                        <a href="{{ .Params.person7_pic }}" class="popup-img overlay-link" title="{{ .Params.person7_name }} - {{ .Params.person7_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person7_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person7_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="image-box team-member shadow mb-20">
                                    <div class="overlay-container overlay-visible">
                                        <img src="{{ .Params.person8_pic }}" alt="">
                                        <a href="{{ .Params.person8_pic }}" class="popup-img overlay-link" title="{{ .Params.person8_name }} - {{ .Params.person8_position }}"><i class="icon-plus-1"></i></a>
                                        <div class="overlay-bottom">
                                            <div class="text">
                                                <p class="margin-clear">{{ .Params.person8_position }}</p>
                                                <h5 class="title margin-clear">{{ .Params.person8_name }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>                        
                    </div>                                        
                </div>
            </div>
            <br><br>
            </section>
        {{ end }}
    {{ end }}
{{ end }}