<section class="light-gray-bg pv-30 clearfix">
    <div class="container">
      <div class="row">
        {{ range $element :=  .Data.Pages }}
                {{ if eq .Section "home" }}
                    {{ if eq .Title "whatis_box" }}
				        <div class="col-md-8 col-md-offset-2">
				          <h2 id="solutions" class="text-center">{{ .Params.header }}</h2>
				          <div class="separator"></div>
				          <p class="large text-center">{{ .Params.summary }}</p>
				        </div>
				        <div class="row">
							<div class="col-md-4 ">
								<div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
									<span class="icon default-bg small"><i class="fa fa-server"></i></span>
									<div class="body">
										<h4 class="title"><strong>{{ .Params.block1_title_strong }}</strong> {{ .Params.block1_title }}</h4>
										<p>{{ .Params.block1_text }}</p>
										<a href="{{ .Params.block1_link }}" class="link-dark">Read More
										{{ if eq $.Site.LanguageCode "ar" }}
										<i class="pl-5 fa fa-angle-double-left"></i></a>
										{{else}}
										<i class="pl-5 fa fa-angle-double-right"></i></a>
										{{end}}
									</div>
								</div>
							</div>
							<div class="col-md-4 ">
								<div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
									<span class="icon default-bg small"><i class="fa fa-cloud-upload"></i></span>
									<div class="body">
										<h4 class="title"><strong>{{ .Params.block2_title_strong }}</strong> {{ .Params.block2_title }}</h4>
										<p>{{ .Params.block2_text }}</p>
										<a href="{{ .Params.block2_link }}" class="link-dark">Read More
										{{ if eq $.Site.LanguageCode "ar" }}
										<i class="pl-5 fa fa-angle-double-left"></i></a>
										{{else}}
										<i class="pl-5 fa fa-angle-double-right"></i></a>
										{{end}}
									</div>
								</div>
							</div>
							<div class="col-md-4 ">
								<div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible animated object-visible fadeInDownSmall" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
									<span class="icon default-bg small"><i class="fa icon-key"></i></span>
									<div class="body">
										<h4 class="title"><strong>{{ .Params.block3_title_strong }}</strong> {{ .Params.block3_title }}</h4>
										<p>{{ .Params.block3_text }}</p>
										<a href="{{ .Params.block3_link }}" class="link-dark">Read More
										{{ if eq $.Site.LanguageCode "ar" }}
										<i class="pl-5 fa fa-angle-double-left"></i></a>
										{{else}}
										<i class="pl-5 fa fa-angle-double-right"></i></a>
										{{end}}
									</div>
								</div>
							</div>
						</div>
					{{ end }}
                {{ end }}
        {{ end }}
      </div>
    </div>
</section>