www.greenitglobe.com/site/*
www.greenitglobe.com/site-russian/*
www.greenitglobe.com/site-arabic/*
www.greenitglobe.com/en/*
www.greenitglobe.com/ru/*
www.greenitglobe.com/ar/*
www.greenitglobe.com/hugo.exe