http://new-gig.aydo.com:8080 {
    bind 0.0.0.0
    gzip
    root www.greenitglobe.com/site
    git {
       repo git@git.aydo.com:static-websites/new-gig.git
       interval 300
       key ../keys/id_rsa
       path ../..
       then hugo -s www.greenitglobe.com
    }
}
