<div class="header-container">    
    <header class="header  fixed   clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="header-left clearfix">
              <div id="logo" class="logo"> <a href="/"><img width="130" id="logo_img" src="/images/logo.png" alt="The Project"></a> </div>              
            </div>
          </div>
          <div class="col-md-9">
            <div class="header-right clearfix"> 
              <div class="main-navigation  animated with-dropdown-buttons">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <div style="padding:0" class="collapse navbar-collapse" id="navbar-collapse-1">
                      <ul class="nav navbar-nav pull-right ">
                        <li class="active"> <a href="/">Home</a></li>
                        <li class="smooth-scroll"> <a href="/#page-start">Solutions</a></li>
                        <li class="smooth-scroll"> <a href="/#benefits">Benefits</a></li>
                        <li class="smooth-scroll"> <a href="/#technology">Technology</a></li>
                        <li class="smooth-scroll"> <a href="/#team">Company</a></li>
                        <li class="smooth-scroll"> <a href="/#footer">Contact us</a></li>
                        <!--<li class="dropdown "> <a href="index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Solutions</a>
                          <ul class="dropdown-menu">
                            <li ><a href="index-shop.html">Shop Home 1</a></li>
                            <li ><a href="index-shop-2.html">Shop Home 2</a></li>
                            <li ><a href="shop-listing-4col.html">Grid - 4 Columns</a></li>
                            <li ><a href="shop-listing-3col.html">Grid - 3 Columns</a></li>
                            <li ><a href="shop-listing-2col.html">Grid - 2 Columns</a></li>
                            <li ><a href="shop-listing-sidebar.html">Grid - With Sidebar</a></li>
                          </ul>
                        </li>-->
                        
                      </ul>
                      <!--
                      <div class="header-dropdown-buttons">
                            <a href="mailto:theproject@info.com" class="btn btn-sm hidden-xs btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                            <a href="mailto:theproject@info.com" class="btn btn-lg visible-xs btn-block btn-default">Contact Us <i class="fa fa-envelope-o pl-5"></i></a>
                        </div>-->                      
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
</div>