{{ partial "head.html" . }}
	<body class="no-trans front-page transparent-header ">
	    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
	        <div class="page-wrapper">
			{{ partial "header.html" . }}
				<div id="wrap">
					<div id="main">
						<div class="container page-container">
							<div class="row">
						          {{ .Content }}		
							</div>
						</div>
					</div>
				</div>
			{{ partial "footer.html" . }}
			</div>
			<script type="text/javascript" src="/plugins/jquery.min.js"></script> 
			<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script> 
			<script type="text/javascript" src="/plugins/modernizr.js"></script> 
			<script type="text/javascript" src="/js/custom.js"></script>
	</body>
</html>

