{{ partial "head.html" . }}
<style type="text/css">
	.footer {border-top: 1px solid #eaeaea;}
</style>
	<body class="no-trans front-page transparent-header ">
	    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
	        <div class="page-wrapper">
			{{ partial "header.html" . }}
				<div id="wrap">
					<div class="main-container" id="main">
						<div class="container page-container">
							<h2 class="title">{{ .Params.thin }}  <strong>{{ .Title }}</strong></h2>
							<div class="separator-2"></div>
						          {{ .Content }}		
						</div>
					</div>
				</div>
			{{ partial "footer.html" . }}
			</div>
			<script type="text/javascript" src="/plugins/jquery.min.js"></script> 
			<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script> 
			<script type="text/javascript" src="/plugins/modernizr.js"></script> 
			<script type="text/javascript" src="/js/custom.js"></script>
	</body>
</html>

