{{ partial "head.html" . }}
<style type="text/css">
	.footer {
		border-top: 1px solid #eaeaea;
	}
	.container.page-container ul {
		padding: 10px 0 0 20px;
	}
	.zero-image{
		max-width: 800px !important;
	}
	{{if eq .Title "Team"}}
	img{
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	p{
		text-align: justify;
	}
	{{end}}
</style>
	<body class="no-trans front-page transparent-header ">
	    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
	        <div class="page-wrapper">
			{{ partial "header.html" . }}
				<div id="wrap">
				<!-- <div class="banner border-clear light-translucent-bg" style="background-image:url('../../images/page-about-banner-2.jpg');">

				<div class="container">
					<div class="row">
						<div class="col-md-8 pv-20">
							<h2 class="title"><strong>Wellcome</strong> {{ .Title }}</h2>
							<p>{{ .Params.disc }}</p>
						</div>
					</div>
				</div>
			</div> -->
				<div class="main-container" id="main">
					<div class="container page-container">
						<h2 class="title">{{ .Params.thin }}  <strong>{{ .Title }}</strong></h2>
						<div class="separator-2"></div>
						<p>{{ .Content }}</p>
					</div>
				</div>
			</div>
			{{ partial "footer.html" . }}
			</div>
			<script type="text/javascript" src="/plugins/jquery.min.js"></script>
			<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="/plugins/modernizr.js"></script>
			<script type="text/javascript" src="/js/custom.js"></script>
	</body>
</html>
