{{ partial "head.html" . }}
	<body class="no-trans front-page transparent-header ">
	    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
	        <div class="page-wrapper">
			{{ partial "header.html" . }}
			{{ partial "home_page/intro_slider.html" . }}
			{{ partial "home_page/whatis_box.html" . }}
			{{ partial "home_page/magic_box.html" . }}
			{{ partial "home_page/benefits_box.html" . }}
			{{ partial "home_page/howitworks_box.html" . }}
			{{ partial "home_page/aboutus_box.html" . }}
			{{ partial "footer.html" . }}
			</div>
			<script type="text/javascript" src="plugins/jquery.min.js"></script>
			<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="plugins/modernizr.js"></script>
			<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
			<script type="text/javascript" src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
			<script type="text/javascript" src="plugins/isotope/isotope.pkgd.min.js"></script>
			<script type="text/javascript" src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
			<script type="text/javascript" src="plugins/waypoints/jquery.waypoints.min.js"></script>
			<script type="text/javascript" src="plugins/jquery.countTo.js"></script>
			<script src="plugins/jquery.parallax-1.1.3.js"></script>
			<script src="plugins/jquery.validate.js"></script>
			<script src="plugins/vide/jquery.vide.js"></script>
			<script type="text/javascript" src="plugins/owl-carousel/owl.carousel.js"></script>
			<script type="text/javascript" src="plugins/jquery.browser.js"></script>
			<script type="text/javascript" src="plugins/SmoothScroll.js"></script>
			<script type="text/javascript" src="js/template.js"></script>
			<script type="text/javascript" src="js/custom.js"></script>
	</body>
</html>
